.details-img {
    height: 50vh;
    width: 100%;
}

.padding {
    padding-top: 2vh;
}

.game-wrap {
    width: 100vw;
    height: 90vh;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
}
.game-frame {

    height: 100%;
    width: 100%;
    position:fixed;
    border: 0;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(1);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}