:root {
  --nav-height: 5vh;
  --nav-width: 100%;
  --black: #212529;
}

body {}

nav {
  min-height: var(--nav-height);
  min-width: var(--nav-width);
  background-color: var(--black);
  display: flex;
  justify-content: flex-end;
}

.link {
  margin-right: 15px;
}

.logo {
  height: 40px;
  width: 40px;
}

.title-logo {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 10px;
}