.padding {
    padding-top: 2vh;
}

.buttons {
margin-top: 10px;
margin-right: 10px;
}

.game-details-img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.padding-img {
    margin-left: 100px;
}

.github {
    text-decoration: none;
}

.reviews {
    margin-top: 30px;
}